@model WebApp.ViewModels.StudentUserViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Student.Id" />
            <input type="hidden" asp-for="Student.UserId" />
            <div class="form-group">
                <label asp-for="Student.StudentId" class="control-label"></label>
                <input asp-for="Student.StudentId" class="form-control" />
                <span asp-validation-for="Student.StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.User.FirstName" class="control-label"></label>
                <input asp-for="Student.User.FirstName" class="form-control" />
                <span asp-validation-for="Student.User.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.User.LastName" class="control-label"></label>
                <input asp-for="Student.User.LastName" class="form-control" />
                <span asp-validation-for="Student.User.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.User.Email" class="control-label"></label>
                <input asp-for="Student.User.Email" class="form-control" />
                <span asp-validation-for="Student.User.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.EnrollmentDate" class="control-label"></label>
                <input asp-for="Student.EnrollmentDate" class="form-control" />
                <span asp-validation-for="Student.EnrollmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.AcquiredCredits" class="control-label"></label>
                <input asp-for="Student.AcquiredCredits" class="form-control" />
                <span asp-validation-for="Student.AcquiredCredits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.CurrentSemester" class="control-label"></label>
                <input asp-for="Student.CurrentSemester" class="form-control" />
                <span asp-validation-for="Student.CurrentSemester" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.EducationLevel" class="control-label"></label>
                <input asp-for="Student.EducationLevel" class="form-control" />
                <span asp-validation-for="Student.EducationLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfilePicture" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="ProfilePicture" class="form-control" id="customFile">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
                <span asp-validation-for="ProfilePicture" class="text-danger"></span>
                <img src="~/images/@ViewBag.ProfilePicture"
                     class="rounded-circle"
                     height="300" width="300"
                     asp-append-version="true" id="profile-picture" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
